/* NAVIGATION */

.vesco-navbar.navbar {
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.vesco-navbar {
    background: none;
    border: none;
}

.vesco-navbar.vesco-top-nav {
    background: rgba(0, 0, 0, .7);
    padding: 7px 0;
}

.vesco-navbar .vesco-nav-wrapper {
    padding: 0 85px;
}

.vesco-navbar .navbar-nav {
    float: right;
}

.vesco-navbar .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.vesco-navbar .navbar-nav>li.active>a:hover,
.vesco-navbar .navbar-nav>li.active>a:focus,
.vesco-navbar .navbar-nav>li.active>a,
.vesco-navbar .navbar-nav>li>a:hover,
.vesco-navbar .navbar-nav>li>a:focus {
    background: none;
    color: #34c6d3;
}

.vesco-navbar .navbar-toggle {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid #fff;
    border-radius: 0;
}

.vesco-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

.vesco-navbar .navbar-collapse.no-max-height {
    max-height: none;
}