#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url('bg-home.jpg');
}

#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
