/* General */

html,
body,
#root,
#app {
    height: 100%;
}

body,
#root,
#app {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}


/* PARALAX (Generic) */

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* CAROUSEL */

.slick-dots.carousel-dots li button::before {
    color: #34c6d3;
}